.header{
    padding: 0 22%!important;
    width: 60%;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 50px;
    justify-content: space-between;
    display: flex;
}
.header .header-container:nth-child(2){
    width: 25%;
    align-items: center;

}

.header-search{
    background-image: url('../../images/search.svg');
    
    background-repeat: no-repeat;
    background-position: 0%;
    border: 1px solid #bdbdbd;
    width: 91%;
    borderRadius: 19px;
    height: 15%;
    padding: 13px;
}
.header-search::placeholder{
    text-align: center;
    color: #bdbdbd;
    
}
.header-search:focus{
    background-image: none;
}
.header-container a{
    cursor: pointer;
}

.header-container img{
    width: 73%;
    height: 88%;
    margin: 4% 0px 0px 4%;
}
.moduleicon{
    align-items: center;
    width: 31%;
    gap: 5%;
}