
/* Modal.css */
.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 700px; /* Ширина по вашему выбору */
}

.modal-edit {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 900px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.modal-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.modal-content > span  {
    margin: 10px;
}

.modal-content-edit {
    display: flex;
}

.left-column {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between; /* Выравнивание изображения по центру горизонтально */
    align-items: center; /* Выравнивание изображения по центру вертикально */
}

.left-column > img {
    max-width: 100%; /* Максимальная ширина изображения 100% контейнера */
    max-height: 100%; /* Максимальная высота изображения 100% контейнера */
    width: auto; /* Автоматически рассчитывает ширину, чтобы сохранить пропорции */
    height: auto; /* Автоматически рассчитывает высоту, чтобы сохранить пропорции */
}

.right-column {
    width: 30%; /* 30% для правого столбца */
    padding: 10px;
}

.right-column > textarea {
    height: 40%;
    width: 100%;
}


.modal-header > p  {
    margin: 5px;
    font-weight: bold;
}


.modal-header {
    border: 1px solid dodgerblue;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header-edit > p  {
    margin: 5px;
    font-weight: bold;
}

.modal-header-edit {
    border: 1px solid dodgerblue;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    text-align: right;
}

.modal-button-primary {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    border: none;
    max-height: 20px;
    max-width: 200px;
    width: 100%;
    height: 100%;
}
