.recommended{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.recommended .post{
   width: 100%;
}

.recommended .post img{
    width: 100%;
    height: auto;
 }

 .recommended .post .like{
    width: 1.6rem;
    height: auto;
    margin: 0px 1% 0px 0px;
 }


 .recommended .post .comment{
   width: 1.6rem;
    height: auto;
    margin: 0px 1% 0px 0px;
 }


 .recommended .post .send{
   width: 1.6rem;
   height: auto;
   margin: 0px 1% 0px 0px;
 }


 .recommended .post .save{
   width: 1.6rem;
    height: auto;
  
 }


 /* .recommended .post .saveLink{
    display: flex;
 justify-content: end;
 margin: -9% 0% 0% 0%;
  
 } */





 #flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  
  #flex-container > .flex-item1 {
    -webkit-flex: auto;
    flex: auto;
  }
  
  #flex-container > .raw-item1 {
    width: 2rem;
  }

  .comment-text{margin: 0 10px;}


  .counOftLikes {
   margin: 10px 0;
  }

  .authorname{
   margin: 10px 0;
  }

  .gap{
   margin: 10px 0;
  }
